* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serifx;
}

.home-container {
  margin: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
